EMBED_MODEL = "intfloat/e5-base-v2"                                                                       # Prefere this model for Meainingful Embeddings
HF_TOKEN = "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"                                                        # hugging face access token
PINECONE_API_KEY = "pcsk_6avKXd_6UsGaHo6QUi1k2d5wfjckonpGJVM29EKU8umoErjVEsd4JTo3yFmuFJ8hENUE1e"          # pinecone api key
MONGO_URL = "mongodb+srv://pc_db_mongo:sO2a9Wixo3elwUas@pc-rag-db.xkrgaem.mongodb.net/?appName=pc-rag-db" # mongo url (if you want use mongodb, otherwise go to utility/utils and disable from top of variable)
EMBED_SERVICE_URL = "http://localhost:8000"                                          
REDIS_HOST = "redis-17564.south-1-1.ec2.cloud.redislabs.com"                                              # Conecct to redis for Caching
REDIS_PASS = "pVmARALu4PlbWIY7kDd7B8"                                                                     # Redis account password
RAG_INDEX = "hybride-retrival-db"                                                                         # create a index in pinecone

