fastapi
uvicorn[standard]
python-multipart
jinja2
markdown
python-dotenv
aiohttp
cachetools
numpy
pymongo
redis
pinecone[grpc]
pinecone-text
protobuf
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langsmith
pypdf
pymupdf
transformers
fastapi
uvicorn
requests
supervisor
langchain_nvidia_ai_endpoints
unstructured